body {
  width: 700px;
  background: #c7c7c7;
}

.button-area {
    display: flex;
}

#setting-button {
    margin-left: auto;
}

.loading {
  display: none;
}

.review-button {
  padding: 16px;
}

#prDescription {
    padding: 24px;
}
